@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --right-profile-width: 26rem;

    --shadow: 0 0.25rem 0.5rem 0.125rem rgba(114, 114, 114, 0.25);

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12.94%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .translate-3d-100vw {
    transform: translate3d(100vw, 0, 0);
  }
  .translate-3d-0 {
    transform: translate3d(100vw, 0, 0);
  }

  .w-100-right-profile {
    width: calc(100% - var(--right-profile-width));
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg-pattern {
    @apply dark:chat-bg-dark chat-bg-light;
  }

  .chat-bg-dark {
    background-image: url("/chat-bg-pattern-dark.png");
    background-size: 65%;
  }

  .chat-bg-light {
    background-image: url("/chat-bg-pattern-light.png");
    background-size: 65%;
    background-color: hsl(0, 0%, 95%);
  }
}
